<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="co.com.payu.reservasvuelos.controller" />
	<context:property-placeholder location="classpath:database.properties" />
	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**" location="/resources/mytheme/" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">  
            <list>                  
                <value>co.com.payu.reservasvuelos.model.Avion</value>
                <value>co.com.payu.reservasvuelos.model.Pasajero</value>
                <value>co.com.payu.reservasvuelos.model.Ruta</value>
                <value>co.com.payu.reservasvuelos.model.Vuelo</value>
            </list>  
        </property> 
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
			</props>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
		
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>


	<bean id="pasajeroDaoImpl" class="co.com.payu.reservasvuelos.dao.impl.PasajeroDaoImpl" />
	<bean id="pasajeroServiceImpl" class="co.com.payu.reservasvuelos.service.impl.PasajeroServiceImpl" />
	
	<bean id="avionDaoImpl" class="co.com.payu.reservasvuelos.dao.impl.AvionDaoImpl" />
	<bean id="avionServiceImpl" class="co.com.payu.reservasvuelos.service.impl.AvionServiceImpl" />
	
	<bean id="rutaDaoImpl" class="co.com.payu.reservasvuelos.dao.impl.RutaDaoImpl" />
	<bean id="rutaServiceImpl" class="co.com.payu.reservasvuelos.service.impl.RutaServiceImpl" />
	
	<bean id="vueloDaoImpl" class="co.com.payu.reservasvuelos.dao.impl.VueloDaoImpl" />
	<bean id="vueloServiceImpl" class="co.com.payu.reservasvuelos.service.impl.VueloServiceImpl" />

</beans>